## Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

## Build
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## macOS
.DS_Store
.AppleDouble
.LSOverride

## Misc
*.swp
*~
